{% extends "base.html" %}
{% block  title %}
WCanales
{% endblock %}

{% block content %}

<main class="main">
  <div class="background">
    <div class="window glass active" style="max-height: 100%;min-width: 600px; max-width: 95%; margin: 0 5.5em;">
        <div class="title-bar">
          <div id="title-bar-text" class="title-bar-text">WCanales</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize" disabled></button>
            <button aria-label="Close"></button>
          </div>
        </div>

        <ul role="menubar" class="can-hover">
            <li role="menuitem" tabindex="0" aria-haspopup="true">
              Tirante Normal
              <ul role="menu">
                <li role="menuitem">
                  <img src="{{url_for('static', filename='img/c_n_trap.png')}}" alt="" width="25px">
                  <a id="tn-trapez">
                    Sección Trapezoidal 
                  </a>
                </li>
                <li role="menuitem">
                  <img src="{{url_for('static', filename='img/c_para.png')}}" alt="" width="25px">
                  <a id="tn-parab">
                    Sección Parabólica
                  </a>
                </li>
                <li role="menuitem" class="has-divider">
                  <img src="{{url_for('static', filename='img/c_circ.png')}}" alt="" width="25px">
                    <a id="tn-circ">
                      Sección Circular
                    </a>
                  </li>
                <li role="menuitem" class="has-divider">
                  <img src="{{url_for('static', filename='img/c_com.png')}}" alt="" width="25px">
                  <a id="tn-caco">
                    Sección de canal compuesto
                  </a>
                </li>
                <li role="menuitem" class="has-divider">
                  <img src="{{url_for('static', filename='img/c_n_trap.png')}}" alt="" width="25px">
                  <a id="tn-meh">
                    Sección máxima eficiencia
                  </a>
                </li>
                <li role="menuitem" class="has-divider">
                  <img src="{{url_for('static', filename='img/c_n_trap.png')}}" alt="" width="25px">
                    <a id="tn-mi">
                      Sección mínima infiltración
                    </a>

                </li>
              </ul>
            </li>

            <li role="menuitem" tabindex="0" aria-haspopup="true">
              Tirante crítico
              <ul role="menu">
                <li role="menuitem"><img src="{{url_for('static', filename='img/c_n_trap.png')}}" alt="" width="25px"><a id="tc-trap"> Sección Trapezoidal </a></li>
                <li role="menuitem"><img src="{{url_for('static', filename='img/c_para.png')}}" alt="" width="25px"><a id="tc-parab"> Sección Parabólico </a></li>
                <li role="menuitem"><img src="{{url_for('static', filename='img/c_circ.png')}}" alt="" width="25px"><a id="tc-circ"> Sección Circular </a></li>
              </ul>
            </li>

            <li role="menuitem" tabindex="0" aria-haspopup="true">
              Resalto Hidráulico
              <ul role="menu">
                <li role="menuitem"><img src="{{url_for('static', filename='img/c_rec.png')}}" alt="" width="25px"><a id="rh-rect"> Sección Rectangular </a></li>
                <li role="menuitem"><img src="{{url_for('static', filename='img/c_n_trap.png')}}" alt="" width="25px"><a id="rh-trap"> Sección Trapezoidal </a></li>
                
                <li role="menuitem"><img src="{{url_for('static', filename='img/c_para.png')}}" alt="" width="25px"><a id="rh-parab"> Sección Parbólico </a></li>
                <li role="menuitem"><img src="{{url_for('static', filename='img/c_circ.png')}}" alt="" width="25px"><a id="rh-circ"> Sección Circular </a></li>
              </ul>
            </li>

            <li role="menuitem" tabindex="0" aria-haspopup="true">
              Remanso
              <ul role="menu">
                <li role="menuitem"><a id="rm-ingr">Integración Gráfica</a></li>
                <li role="menuitem"><a id="rm-bakh">Bakhmetff</a></li>
                <li role="menuitem"><a id="rm-bre">Bresse</a></li>
                <li role="menuitem"><a id="rm-dpt">Directo por tramos</a></li>
                <li role="menuitem"><a id="rm-tf">Tramos fijos</a></li>
              </ul>
            </li>

            <li role="menuitem" tabindex="0" aria-haspopup="true">
              Medición
              <ul role="menu">
                <li role="menuitem"><a id="md-cyo">Compuertas y Orificios</a></li>
                <li role="menuitem"><a id="md-vert">Vertederos</a></li>
                <li role="menuitem"><a id="md-sif">Sifones</a></li>
              </ul>
            </li>

            <li role="menuitem" tabindex="0" aria-haspopup="true">
              Estructuras
              <ul role="menu">
                <li role="menuitem"><a>Estructuras de Transición</a></li>
                <li role="menuitem" class="has-divider"><a>Vertedero Lateral</a></li>
                <li role="menuitem"><a>Pérdida en canales</a></li>
              </ul>
            </li>

            <li role="menuitem" tabindex="0" aria-haspopup="true">
              Ayuda
              <ul role="menu">
                <li role="menuitem" class="has-divider"><a>Ayuda WCanales</a></li>
                <li role="menuitem"><a>Acerca de...</a></li>
              </ul>
            </li>

          </ul>

        <div class="window-body" id="win-body">
          
           
          <div style="display: flex; flex-direction: row;">    
            <fieldset style="margin: 5px; width: 40%;">      
              <legend> Datos</legend>      
              <div class="field-row">        
                <label for="d-flow" style="width: 20%;"> Caudal: </label>        
                <input id="d-flow" type="number" style="width: 60%;">        
                <label for="d-flow" style="width: 20%;"> m3/s </label>              
              </div>           
              <div class="field-row">                            
                <label for="d-d" style="width: 20%;"> Diámetro: </label>        
                <input id="d-d" type="number" style="width: 60%;">        
                <label for="d-d" style="width: 20%;"> m </label>              
              </div>                 
              <div class="field-row" style="flex: content;">        
                <label for="d-y" style="width: 20%;"> Tirante (Y): </label>        
                <input id="d-y" type="number" style="width: 60%;">        
                <label for="d-y" style="width: 20%;"> m </label>      
              </div>        
            </fieldset>    
            <fieldset style="margin: 5px; width: 60%;">      
              <legend> Gráfica</legend>      
              <div id="graph-ui" style="width: 100%; height: 100%; background-color: rgb(255, 255, 255);"></div>    
            </fieldset> 
          </div>    
          <div style="display: flex; flex-direction: row;">    
            <fieldset style="margin: 5px; width: 80%;">      
              <legend> Datos parciales</legend>      
              <div class="table">
                <table>
                  <thead>
                    <tr>
                      <th>y</th>
                      <th>A</th>
                      <th>p</th>
                      <th>R</th>
                      <th>T</th>
                      <th>v</th>
                      <th>Se</th>
                      <th>1-Q2T/gA3</th>
                      <th>So-Se</th>
                      <th>f(y)</th>
                      <th>deltax</th>
                      <th>x</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>


                  </tbody>
                </table>
              </div>  
            </fieldset>    
            <fieldset style="margin: 5px; width: 20%;">      
              <legend> Datos finales</legend>      
              <div class="table">

              </div>    
            </fieldset> 
          </div>  
          <fieldset style="margin: 5px;">    
            <button id="btn-calcular"> Calcular</button> 
            <button id="btn-inicio"> Inicio</button> 
          </fieldset>
          
        </div>

        <div class="status-bar">
          <p id="f-help" class="status-bar-field">Presione F1 para abrir la ayuda</p>
          <p class="status-bar-field" id="sb-progress">Progreso: 0%</p>
          <a  style="text-decoration: none" class="clock24" id="tz24-1714757443-cc14810-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMCIsInNob3dzZWNvbmRzIjoiMCIsInNob3d0aW1lem9uZSI6IjEiLCJ0eXBlIjoiZCIsImxhbmciOiJlcyJ9" title="Lima Hora" target="_blank"> Hora </a>
<script type="text/javascript" src="//w.24timezones.com/l.js" async></script> 
        </div>
      </div>
        
        <div id="dpi" style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;"></div>
    </section>
  </div>
</main>
{% endblock %}